* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: $main-color-text;
  &:visited {
    color: $main-color-text;
  }
}

ul {
  list-style: none;
}